<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des deadlines</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <h1>Liste des deadlines</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="deadline : ${deadlines}">
            <td th:text="${deadline.id}"></td>
            <td th:text="${deadline.description}"></td>
            <td th:text="${deadline.date}"></td>
            <td>
                <form th:action="@{'/deadline/' + ${deadline.id} + '/delete'}" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="btn btn-primary">Supprimer</button>
                </form>
                <a th:href="@{'/deadline/' + ${deadline.id}}" class="btn btn-primary">Modifier</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
