<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Enseignant</title>
    <!-- Ajout de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Styles personnalisés -->
    <style>
        /* Ajoutez vos styles personnalisés ici si nécessaire */
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Bienvenue sur la page Enseignant</h1>
        <p>Utilisateur : <span th:text="${nomUtilisateur}"></span></p>
        <p>Rôle : <span th:text="${role}"></span></p>
        <div class="mt-3">
            <a href="/ajouter-document" class="btn btn-primary mr-2">Ajouter un document</a>
            <a href="/liste-document" class="btn btn-primary mr-2">Documents</a>
            <a href="/deadline" class="btn btn-primary">Deadlines</a>
        </div>
    </div>
    
    <!-- Ajout de Bootstrap JS (si nécessaire) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
